{
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "proseWrap": "always",
  "printWidth": 200,
  "quoteProps": "consistent"
}
